html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

 .delete-btn{
     color: red;

 }


 #movie-container {
     display:none;
     font-style: italic;
     color: darkblue;
     background-color: lightcyan;
     border: 3px solid darkslateblue;
 }



